@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --black: #000;
    --white: hsl(0, 0%, 100%);
    --grey: #ccc;
    --dark-grey: #333333;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: "Prompt", sans-serif;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin:0 auto;




}


nav {
    background-color: var(--black);
    height: 60px;

    .nav-wrapper {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {


            a {
                color: var(--white);
                text-decoration: none;
                font-weight: bold;
                font-size: 24px;
            }
        }

        .menu {
            display: flex;

            li {}

            a {

                padding: 20px;
                color: var(--white);
                text-decoration: none;
                font-size: 16px;


            }

        }
    }

    @media only screen and (max-width:480px) {
        height: auto;

        .nav-wrapper {
            height: auto;
            flex-direction: column;

            .logo {
                padding: 40px 0 60px 0;
            }

            .menu {
                flex-direction: column;

                li {
                    padding-bottom: 30px;
                }

            }
        }
    }

}


.banner {
    height: 460px;

    .banner-wrapper {
        display: flex;
        align-items: center;
        height: 460px;

        .banner-info {

            h1 {
                font-weight: bold;
                font-size: 36px;
                transition: 1s;

                &:hover {
                    scale: 1.05;
                }

            }

            p {
                font-size: 14px;
                padding-bottom: 40px;
                transition: 1s;

                &:hover {
                    scale: 1.05;
                }
            }

            .banner-btn {
                background-color: var(--black);
                color: var(--white);
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 200px;
                height: 40px;
                margin-top: 40px;
                transition: 1s;


                &:hover {
                    background-color: var(--white);
                    color: var(--black);
                    border: 1px solid var(--black);
                    scale: 1.05;
                }

                a {}

            }

        }

        .banner-img {
            padding-top: 30px;
            transition: 1s;

            &:hover {
                scale: 1.1;
            }

        }
    }

    @media only screen and (max-width:480px) {
        height: auto;

        .banner-wrapper {
            height: auto;
            flex-direction: column;

            .banner-info {
                padding: 55px 45px 40px;

                p {
                    font-size: 21px;
                }

                .banner-btn {
                    width: 200px;
                    height: 60px;
                    margin-top: auto;
                }
            }
        }

    }

}

.client {
    background-color: var(--black);
    height: 500px;

    .client-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;

        .client-info {
            color: var(--white);
            text-align: center;

            h3 {
                font-size: 32px;
                font-weight: bold;
                transition: 1s;

                &:hover {
                    scale: 1.05;
                }


            }

            p {
                font-size: 20px;
                transition: 1s;

                &:hover {
                    scale: 1.05;
                }

            }

            img {
                margin-top: 30px;
                height: 275px;
                transition: 1s;

                &:hover {
                    scale: 1.1;
                }


            }

        }


    }


}

.product {
    height: 960px;


    .product-wrapper {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 30px;
        height: 960px;
        justify-content: center;
        padding: 20px;

        .product-item {
            border: 1px solid var(--grey);
            width: 370px;
            height: 420px;
            position: relative;

            .product-best-seller {
                display: flex;
                width: 150px;
                justify-content: center;
                background-color: var(--black);
                color: var(--white);
                position: absolute;
                top: 15px;
                left: 20px;
                font-size: 14px;
                height: 30px;
                align-items: center;

            }
        }



        .product-img {

            img {
                width: 100%;
                height: 250px;
                padding: 35px 20px 0 20px;
                transition: 1s;

                &:hover {
                    scale: 1.1;
                }
            }
        }

        .product-info {

            h3 {
                font-size: 24px;
                font-weight: bold;
                padding-left: 20px;

            }

            p {
                font-size: 20px;
                padding: 0 20px;
            }

            .product-btn {
                background-color: var(--black);
                color: var(--white);
                display: flex;
                text-decoration: none;
                justify-content: center;
                align-items: center;
                width: 330px;
                height: 50px;
                margin: 20px;
                transition: 1s;

                &:hover {
                    scale: 1.05;
                    background-color: var(--white);
                    color: var(--black);
                    border: 1px solid var(--black);
                }

                a {
                    font-size: 16px;



                }
            }
        }
    }

    @media only screen and (max-width:480px) {
        height: auto;
        padding-left: 35px;

        .product-wrapper {
            height: auto;
            grid-template-columns: 1fr;
        }
    }

}


.cta {
    background-color: var(--black);
    color: var(--white);
    height: 560px;

    .cta-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 560px;


        .cta-info {
            text-align: center;

            h3 {
                font-size: 36px;
                font-weight: bold;

            }

            p {
                font-size: 20px;

            }

            img {
                padding-top: 20px;

            }
        }
    }

    @media only screen and (max-width:480px) {

        .cta-info {
            h3 {
                padding: 15px;
            }

            p {
                padding: 0px 70px;
            }

            
        }
    }
}

footer {

    height: 60px;
    background-color: var(--black);
    color: var(--white);


    .footer-line {
        border-top: 1px solid var(--dark-grey);



    }

    .footer-info {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        p {}
    }


}
